@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: unset !important;
}

@font-face {
  font-family: "OliGrotesk";
  src: url("./assets/fonts/Oli Grotesk L Regular.woff2") format("woff2");
}

body{
  font-family: "OliGrotesk", sans-serif;
}