@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: unset !important;
}

@font-face {
  font-family: "OliGrotesk";
  src: url("./assets/fonts/Oli Grotesk L Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NativeDesigner";
  src: url("./assets/fonts/NativeDesigner-Italic.woff2") format("woff2");
}

body{
  font-family: "OliGrotesk", sans-serif;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
  font-family: "NativeDesigner", sans-serif;
  color: #000;
  font-style: italic;
  font-weight: normal;
}

@media screen and (max-width: 640px) {
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
    color: #fff;
  }
}

/* Swiper Paginations Start */
.swiper-pagination-bullet {
  margin: 0 5px !important;
  width: 8px !important;
  height: 8px !important;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .swiper-pagination-bullet {
    margin: 0 4.5px !important;
    width: 7.5px !important;
    height: 7.5px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .swiper-pagination-bullet {
    margin: 0 4px !important;
    width: 7px !important;
    height: 7px !important;
  }
}

@media screen and (max-width: 640px) {
    
}
/* Swiper Paginations End */

/* Brands Start */
.brands .brand-image:nth-child(3){
  scale: 1.05;
}
.brands .brand-image:last-child{
  scale: 1.4;
  margin-top: -0.5rem;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .brands .brand-image:last-child{
    margin-top: -0.4rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .brands .brand-image:last-child{
    margin-top: -0.3rem;
  }
}

@media screen and (max-width: 640px) {
    
}
/* Brands End */

/* Testimonials Start */
.testimonials-row .testimonial-box:nth-child(2){
  margin-top: 7rem;
}
.testimonials-row .testimonial-box:nth-child(3){
  margin-top: -7rem;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .testimonials-row .testimonial-box:nth-child(2){
    margin-top: 6rem;
  }
  .testimonials-row .testimonial-box:nth-child(3){
    margin-top: -6rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .testimonials-row .testimonial-box:nth-child(2){
    margin-top: 5rem;
  }
  .testimonials-row .testimonial-box:nth-child(3){
    margin-top: -5rem;
  }
}

@media screen and (max-width: 640px) {
    
}
/* Testimonials End */

/* Contact Form Start */
.contact-form label{
  display: block;
  color: #eee;
  font-size: 1.2rem;
}
.contact-form input,
.contact-form textarea{
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.7rem 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #eee;
  resize: none;
}
.contact-form input:focus,
.contact-form textarea:focus{
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-form label{
      font-size: 1.1rem;
    }
    .contact-form input,
    .contact-form textarea{
      font-size: 1.1rem;
      padding: 0.6rem 0;
      margin-top: 0.45rem;
      margin-bottom: 1.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-form label{
      font-size: 1rem;
    }
    .contact-form input,
    .contact-form textarea{
      font-size: 1rem;
      padding: 0.5rem 0;
      margin-top: 0.4rem;
      margin-bottom: 1.3rem;
    }
}

@media screen and (max-width: 640px) {
    
}
/* Contact Form End */

/* Footer Start */
footer a{
  display: block;
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}
footer a:hover{
  text-decoration: underline;
}
footer .footer-icons a{
  background-color: #fff;
  color: #0664f8;
  width: 37px;
  height: 37px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
footer .footer-icons a:hover{
  transform: translateY(-3px);
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  footer a{
    font-size: 1.05rem;
    margin-bottom: 0.45rem;
  }
  footer .footer-icons a{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    font-size: 1.1rem;
  }
  footer .footer-icons a:hover{
    transform: translateY(-2.5px);
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  footer a{
    font-size: 0.95rem;
    margin-bottom: 0.4rem;
  }
  footer .footer-icons a{
    width: 27px;
    height: 27px;
    border-radius: 5px;
    font-size: 1rem;
  }
  footer .footer-icons a:hover{
    transform: translateY(-2px);
  }
}

@media screen and (max-width: 640px) {
    
}
/* Footer End */